.header {
    color: #FFF;
    width: 100%;
    height: 9rem;
    padding: 2rem 3rem 2rem;

    background: #28DF99;

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo  {
    font-family: Righteous;
    font-size: 2rem;
    font-size: clamp(2.5rem, 9vw, 4rem);
}


.menu-hamburguer {
    height: 3rem;
    width: 6rem;
    margin-top: 1.5rem;
}

.bar {
    width: 4rem;
    height: .5rem;

    background-color: #FFF;
    border-radius: 10px;
    display: block;

    transition: ease .3s;

    margin-left: 2rem;

    z-index: -1;
}

#bar1 {
    transform: translateY(-4px);
}

#bar3 {
    transform: translateY(4px);
}

.marked .bar {
    background-color: rgba(3, 95, 95, 0.692);
}

.marked #bar1 {
    transform: translateY(4px) rotateZ(-45deg); /* Rotação da barra 1 quando estiver marcada*/
}
.marked #bar3 {
    transform: translateY(-6px) rotate(45deg);
} 

.marked #bar2 {
    opacity: 0;
} 

.menu-bar {
    width: 100%;
    height: 90vh;
    margin-top: 8rem;
    background: var(--color-green-main);
    position: absolute;

    display: flex;
    justify-content: center;
    
    padding-top: 6rem;

    display: none;
}

.nav ul li {
    list-style: none;
    text-decoration: none;
    margin-bottom: 5rem;
    text-align: center;

}

.nav ul li:nth-child(6)  {

    margin-left: 9rem;

    height: 5.5rem;
    width: 25rem;
    
    display: flex;
    justify-content: center;
    align-items: center;

    background: #25bda6;
    border-radius: 5rem;

    transition: ease .2s;

}

.nav ul li:nth-child(6):hover  {
    background: #25bda6d0;
}

.nav ul li a{
    text-decoration: none;
    font-family: Righteous;

    color: rgba(102, 51, 153, 0.781);
    font-size: 2.5rem;
}

.nav ul li a:hover{
    font-weight: bolder;
}

.nav ul li:nth-child(6) a{
        color: #ffffffcb
}


.nav ul li:nth-child(6) a:hover{
    font-weight: bold;
}


.nav-bar {
    display: none;
}


.footer {
    width: 100%;
    background: #28DF99;

    padding: 1rem 0rem 0  2rem ;
}

.header-footer {
    display: flex;
    justify-content: space-between;
}

.logo-footer {

    font-family: Righteous;
    font-weight: normal;
    font-size: 4vw;

    color: #FFFFFF;
}

.footer p {
    width: 70vw;
    width: clamp(22rem, 70vw, 50rem);
    font-family: Inter;
    font-style: normal;
    font-weight: 800;
    font-size: 2rem;
    font-size: clamp(1rem, 3vw,  2rem);

    color: #F4F3F3;
}

.footer .contacts {
    height: 3rem;
    width: 100%;
}

.footer .contacts img {
    padding: 0 .2rem;

    margin-top: clamp(-1rem, -2vh, -1.5rem);
    width: clamp(1.5rem, 4vw, 2.4rem);

}




@media(min-width: 760px) {
    .menu-hamburguer {
        display: none;
    }


    .nav-bar {
        display: flex;
        align-items: center;
        margin-top: .8rem;
        margin-left: 2rem;
    }
    
    .nav-bar a {
        font-family: Inter;
        font-size: clamp(1rem, 1.4vw, 1.7rem);
        text-decoration: none;
        margin-left: clamp(1rem, 1.5vw, 2.5rem);
        text-align: center;

        color: #ffffffd5;

        transition: ease .2s;
    }

    .nav-bar a:hover {
        color: #2ec1abbe;
    }

    .nav-bar img {
        height: 4rem;
        height: clamp(4rem, 5.5vw, 5rem);
        margin-left: 1.5rem;
    }

    .nav-bar a:nth-child(7) {
        width: clamp(13rem, 10vw  ,13rem);
        height: clamp(3.5rem, 4vw, 4.5rem );
        
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffffd5;
        font-size: clamp(1.2rem, 1.3vw, 1.5rem);


        background: #2ec1abf1;
        border-radius: 5rem;

        transition: ease .2s;

    }

    .nav-bar a:nth-child(7):hover {
        background: #2ec1abbe;
    }

    /* footer */

    .header-footer {
        align-items: flex-start;
    }
    
    
    .logo-footer {
        font-size: clamp( 2.5rem ,3vw, 3.3rem);
    }


    .footer p {
        margin: 1rem 3rem 0 0;
        width: clamp(21rem, 70vw, 50rem);
        font-size: clamp(.8rem, 3vw,  2.2rem);
    }

    .footer .contacts img {
        padding: 0 .2rem;

        margin-top: clamp(-1.2rem, -2.2vh, -2.9rem);
        margin: clamp(-1.2rem, -2.2vh, -2.9rem) .2rem 0;
        width: clamp(2.5rem, 3vw, 2rem);

    }
}


@media(min-width:1000px) {
    .nav-bar a {
        margin-left: .9rem;
        margin-left: clamp(.9rem, 1.3vw, 2.5rem);
   
        font-size: clamp(1.3rem, 1.3vw, 1.5rem);
    }
}