.header {
    color: #FFF;
    width: 100%;
    height: 9rem;
    padding: 1rem 2rem 0;
}

.logo  {
    font-family: Righteous;
    font-size: 2rem;
    font-size: clamp(2.5rem, 9vw, 4rem);
}


.footer {
    width: 100%;
    height: clamp( 2em , 13vh , 9rem);
    background: #28DF99;

    padding: 1rem 0rem 0  2rem ;
}

.header-footer {
    display: flex;
    justify-content: space-between;
}

.logo-footer {

    font-family: Righteous;
    font-weight: normal;
    font-size: 4vw;

    color: #FFFFFF;
}

.footer p {
    width: 70vw;
    width: clamp(22rem, 70vw, 50rem);
    font-family: Inter;
    font-style: normal;
    font-weight: 800;
    font-size: 2rem;
    font-size: clamp(1rem, 3vw,  2rem);

    color: #F4F3F3;
}

.footer .contacts {
    height: 3rem;
    width: 100%;
}

.footer .contacts img {
    padding: 0 .2rem;

    margin-top: clamp(-1rem, -2vh, -1.5rem);
    width: clamp(1.5rem, 4vw, 2.4rem);

}