.header {
    color: #FFF;
    width: 100%;
    height: 9rem;
    padding: 1rem 2rem 0;
}

.logo  {
    font-family: Righteous;
    font-size: 2rem;
    font-size: clamp(2.5rem, 9vw, 4rem);
}


.footer {
    background-color: red;
}