#page-cases {
    background: rgba(255, 255, 255, 0.7);

}

#container {
    display: flex;
    flex-direction: column;

}

#container::before{
    background: var(--color-green-main);
    content: "";
    display: block;
    height: 30rem;
    left: 0;
    position: absolute;
    top: 0;
    transform: skewY(-14deg);
    transform-origin: left bottom;
    width: 100%;
    z-index: -1;

    
  }
    
.section { 
    padding: 4rem 2rem 0;
    flex: 1;
} 

.covid {

    font-family: Inter;
    font-weight: bold;
    font-size: 4rem;
    font-size: clamp(2.5rem, 4.2vw, 4rem);
    color: #000000;

    margin-bottom: 2rem;
}

.about {
    width: 80%;

    font-family: Inter;
    font-weight: 600;
    font-size: clamp(1.8rem, 3.5vw, 2.3rem);
}


.centering {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.search {
    margin: 8rem 0 0;

    width: clamp( 30rem, 80%, 50rem);
    height: 4rem;
    
    border: 2px solid #7A7A7A;
    border-radius: .40rem;

    display: flex;

    overflow: hidden;
}


.search input[type="submit"],
.search input[type="text"],
.search input[type="button"] {
    height: 100%;
    border: none;
    text-decoration: none;
    outline: none;


    background-color: rgba(255, 255, 255, 0.7);
}

.search input[type="submit"] {
    width: 4rem;
    border-right:  2px solid #7A7A7A;

    background-image: url(../images/search.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;

}

.search input[type="submit"]:hover {
    background-color: #7a7a7a50;

    background-image: url(../images/search.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
}

.search input[type="text"] {
    width: 80%;

    margin: 0 0 0 .8rem;

    font-size: 1.8rem;
}


.search input[type="button"] {
    width: 4.5rem;
    
    background-image: url(../images/delete.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
}


.place-information {
    margin: 5rem 0 3rem ;

    width: 90vw;
    max-width: 90rem;
    height: 13vw;

    display: flex;
   
    background: #99F3BD;
    border-radius: .5rem;
}

.place-information div {
    width: 30%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.place-information div + div{
    border-left: 2px solid rgba(132, 128, 128, 0.35);
}

.place-information .board {
    margin-top: -1rem;

    width: 6.5rem;
    width: 80%;
    height: 30%;

    background: #E8E8E8;
    border-radius: .2rem;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Righteous;
    font-size: 2vw;
    color: #323232;
}


.place-information p {
    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    font-size: 3.3vw;

    color: #F4F3F3;


    position: relative;
    top: calc(50% - 3vw);
}


.place-information .place{
    width: 35%;

}

.place-information .place .board {
    width: 60%;

}

.place-information .place img  {
    height: 6vw;
    margin: .5rem 0 0;
}

.place-information .place p {
    position: static;
    font-size: 2.8vw;

    margin: .5rem 0 0;

}

@media(min-width: 760px) {
 
    #container {
        background-image: url(../images/world.svg);
        background-repeat: no-repeat;
        background-size: clamp(20rem, 35%, 37rem);
        background-position: 90%  70%;

    }

    #container::before{
        background: var(--color-green-main);
        content: "";
        display: block;
        height: 36rem;
        transform: skewY(-14deg);
        width: 100%;
        z-index: -1;
    }
    
    .section { 
        padding: 8rem 4rem 0;
    } 

    .covid {
        font-size: clamp(2.5rem, 3vw, 3.5rem);
        margin-bottom: 3rem;
    }

    .about {
        width: clamp(40rem, 60%, 50rem);
        font-size: 2vw;
        font-size: clamp(1.6rem, 2vw, 2rem);
    }

    .centering {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .search {
        margin: 6rem 0 0;
    
        width: 45rem;
        width: clamp(35rem, 35vw, 43rem);
        height: clamp(3rem, 4vw, 4rem);
        
        border: 2px solid #7A7A7A;
        border-radius: .40rem;
    
        display: flex;
    
        overflow: hidden;
    }
    

    
    .place-information {
        margin: 6rem 0 8rem 5rem ;
    
        width: clamp(45rem, 45vw, 53rem);
        width: 54rem;
        height: clamp(7rem, 7vw, 8.5rem);
        height: 10rem;
    
        display: flex;
       
        background: #99F3BD;
        border-radius: .5rem;
    }
    
    
    .place-information .board {
        font-size: 90%;
    }


    
    .place-information p {

        font-size: 130%;
        position: relative;
        top: calc(50% - 2.2rem);
    }



    .place-information .place img  {
        height: 50%;
        margin: .5rem 0 0;
    }

    .place-information .place p {
        position: static;

        font-size: 120%;

        margin: 1rem 0 0rem;

    }

}

@media (min-width: 950px) {
    
    #container {
        background-position: 90%  70%;

    }

    #container::before{
        background: var(--color-green-main);
        content: "";
        display: block;
        height: 35rem;
        transform: skewY(-12.5deg);
        width: 100%;
        z-index: -1;
    }
    

    
    
}



@media (min-width: 1050px) {
    
    #container {
        background-position: 90%  85%;
    }

    #container::before{
        background: var(--color-green-main);
        content: "";
        display: block;
        height: 40rem;
        transform: skewY(-12.5deg);
        width: 100%;
        z-index: -1;
    }
    

    
    
}