#page-take-care {
    background: rgba(255, 255, 255, 0.7);

}

#container {
    display: flex;
    flex-direction: column;

}

.header {
    margin-bottom: 5rem;
}

.section { 
    padding: 0rem 3rem 4rem;
    flex: 1;

} 


.tip-container  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
    margin-top: 2rem;
    height: calc(100vh + 80rem);

}

.tip {
    display: flex;
    align-items: center;
}

.margin-right {
    margin-right: 3rem;
}

.margin-left {
    margin-left: 3rem;
}


.tip img {
    height: clamp(13rem, 22vw, 25rem);
}

.tip p {
    font-family: Inter;
    font-style: normal;
    font-weight: 800;
    font-size: clamp(1.2rem, 2.5vw, 3rem);
    color: #000000;
}

.tip small {
    color: #28DF99;
    font-size: clamp(1.2rem, 2.5vw, 3rem);
}

#tip2 p,
#tip2 p small{
    font-size: 1.7rem;
    font-size: clamp(1.1rem, 2.5vw,  1.7rem);
}



@media(min-width: 760px) {
/*  
.tip img {
    height: clamp(13rem, 22vw, 25rem);
}

.tip p {
    font-family: Inter;
    font-style: normal;
    font-weight: 800;
    font-size: clamp(1.2rem, 2.5vw, 3rem);
    width: clamp(18rem, 30vw, 25rem);

    color: #000000;
}

.tip small {
    color: #28DF99;
    font-size: clamp(1.2rem, 2.5vw, 3rem);
}

#tip2 p,
#tip2 p small{
    font-size: 1rem;
} */
}
