#page-test-covid {
    background: rgba(255, 255, 255, 0.7);
    height: 100vh;
}

#container {
    display: flex;
    flex-direction: column;
}

.header {
    margin-bottom: 5rem;
}

.section { 
    padding: 0rem 3rem 4rem;
    flex: 1;

} 