#page-cases {
    background: rgba(255, 255, 255, 0.7);

}

#container {
    display: flex;
    flex-direction: column;

}

#container::before{
    background: var(--color-green-main);
    content: "";
    display: block;
    height: 30rem;
    left: 0;
    position: absolute;
    top: 0;
    transform: skewY(-14deg);
    transform-origin: left bottom;
    width: 100%;
    z-index: -1;

    
  }
    
.section { 
    padding: 4rem 2rem 0;
    flex: 1;
} 

.covid {

    font-family: Inter;
    font-weight: bold;
    font-size: 4rem;
    font-size: clamp(2.5rem, 4.2vw, 4rem);
    color: #000000;

    margin-bottom: 2rem;
}

.about {
    width: 90%;

    font-family: Inter;
    font-weight: 600;
    font-size: clamp(1.8rem, 3.5vw, 2.3rem);
}


.centering {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.search {
    margin: 8rem 0 0;

    width: 80%;
    height: 4rem;
    
    border: 2px solid #7A7A7A;
    border-radius: .40rem;

    display: flex;

    overflow: hidden;
}


.search input[type="submit"],
.search input[type="text"],
.search input[type="button"] {
    height: 100%;
    border: none;
    text-decoration: none;
    outline: none;


    background-color: rgba(255, 255, 255, 0.7);
}

.search input[type="submit"] {
    width: 4rem;
    border-right:  2px solid #7A7A7A;

    background-image: url(../images/search.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;

}

.search input[type="submit"]:hover {
    background-color: #7a7a7a50;

    background-image: url(../images/search.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
}

.search input[type="text"] {
    width: 80%;

    margin: 0 0 0 .8rem;

    font-size: 1.8rem;
}


.search input[type="button"] {
    width: 4.5rem;
    
    background-image: url(../images/delete.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
}


.place-information {
    margin: 5rem 0 3rem ;

    width: 90%;
    max-width: 90rem;
    height: 6.5rem;

    display: flex;
   
    background: #99F3BD;
    border-radius: .5rem;
}

.place-information div {
    width: 30%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.place-information div + div{
    border-left: 2px solid rgba(132, 128, 128, 0.35);
}

.place-information .board {
    margin-top: -1rem;

    width: 6.5rem;
    width: 80%;
    height: 30%;

    background: #E8E8E8;
    border-radius: .2rem;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Righteous;
    font-size: 70%;
    color: #323232;
}


.place-information p {

    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    font-size: 90%;


    height: 2rem;
    
    color: #F4F3F3;

    position: relative;
    top: calc(50% - 1.5rem);
}


.place-information .place{
    width: 35%;

}

.place-information .place .board {
    width: 60%;

}

.place-information .place img  {
    height: 2.5rem;
    margin: .5rem 0 0;
}

.place-information .place p {
    position: static;

    margin: .5rem 0 0;

}

@media(min-width: 760px) {
 
    #container {
        background-image: url(../images/world.svg);
        background-repeat: no-repeat;
        background-size: 40rem;
        background-size: clamp(20rem, 35%, 35rem);
        background-position: min(90%, 50rem)  40%;
    }

    #container::before{
        background: var(--color-green-main);
        content: "";
        display: block;
        height: 33rem;
        transform: skewY(-14deg);
        width: 100%;
        z-index: -1;
    }
    
    .section { 
        padding: 8rem 4rem 0;
    } 

    .covid {
        font-size: clamp(2.5rem, 3vw, 3.5rem);
        margin-bottom: 3rem;
    }

    .about {
        width: clamp(40rem, 60%, 50rem);
        font-size: 2vw;
        font-size: clamp(1.6rem, 2vw, 2rem);
    }

}