.pop-ups {
    min-height: 100%;
    height: auto;
    width: 100%;

    background-color: rgba(255, 255, 255, 0.603);

    position: fixed;

    display: flex;
    justify-content: center;
    align-items: center;

    display: none;
}



span {
    color: #35CB91;
}



/* place not found */


.place-not-found {
    width: 28rem;
    height: 28rem;


    background-color: #fff;
    border: 2px solid gray;
    border-radius: 1rem;

    font-family: 'Inter', sans-serif;
    font-size: 2rem;
    font-weight: bolder;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    display: none;
}

.place-not-found p {
    width: 24rem;
    text-align: center;
}


.place-not-found input {
    border: none;
    background-color: initial;
    margin-top: 3rem;
    background-color: #35CB91;
    border-radius: .20rem;

    height: 4rem;
    width: 14rem;
    
    color: #fff;
    font-size: 2.2rem;
    
    outline: none;
}

.place-not-found input:hover {
    background-color: #11b979;
}


/* test explanation  */

.test-explanation {
    width: 30rem;
    height: 28rem;


    background-color: #fff;
    border: 2px solid gray;
    border-radius: 1rem;

    font-family: 'Inter', sans-serif;
    font-size: 1.8rem;
    font-weight: bolder;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    display: none;
}

.test-explanation p {
    width: 24rem;

    
    text-align: center;
}

.test-explanation p span {
    font-size: 3rem;
}

.test-explanation input {
    border: none;
    background-color: initial;
    margin-top: 3rem;
    background-color: #35CB91;
    border-radius: .20rem;

    height: 4rem;
    width: 14rem;
    
    color: #fff;
    font-size: 2.2rem;
    
    outline: none;

}

.test-explanation input:hover {
    background-color: #11b979;
}


/* information-data */


.information-data {
    width: 32rem;
    height: 30rem;

    background-color: #fff;
    border: 2px solid gray;
    border-radius: 1rem;

    font-family: 'Inter', sans-serif;
    font-size: 1.8rem;
    font-weight: bolder;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    display: none;
}

.information-data p {
    text-align: center;
    padding: 0 2.3rem;
}

.information-data input {
    border: none;
    background-color: initial;
    margin-top: 3rem;
    background-color: #35CB91;
    border-radius: .20rem;

    height: 4rem;
    width: 12rem;
    
    color: #fff;
    font-size: 2.2rem;
    
    outline: none;

}

.information-data input:hover {
    background-color: #11b979;
}


/* Fill in about */


.fill-in-about  {
    width: 25rem;
    height: 23rem;

    background-color: #fff;
    border: 2px solid gray;
    border-radius: 1rem;

    font-family: 'Inter', sans-serif;
    font-size: 1.8rem;
    font-weight: bolder;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    display: none;
}

.fill-in-about p {
    text-align: center;
    padding: 0 2.3rem;
}

.fill-in-about input {
    border: none;
    background-color: initial;
    margin-top: 3rem;
    background-color: #35CB91;
    border-radius: .20rem;
    height: 3.5rem;
    width: 10rem;
    color: #fff;
    font-size: 2.2rem;
    
    outline: none;
}

.fill-in-about input:hover {
    background-color: #11b979;
}


/* confirm delete test  */

.confirm-delete-test  {
    width: 30rem;
    height: 30rem;

    background-color: #fff;
    border: 2px solid gray;
    border-radius: 1rem;

    

    font-family: 'Inter', sans-serif;
    font-size: 1.8rem;
    font-weight: bolder;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;


    display: none;
}

.confirm-delete-test  #minimize-popup {
    
    background-image: url(../images/minimize-popup.svg);
    background-position: center;
    background-repeat: no-repeat;

    background-color: #fff;

    align-self: flex-end;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 2rem;
}

.confirm-delete-test p {
    text-align: center;
    padding: 0 5rem;
}

.confirm-delete-test input[type="text"] {
    margin-top: 2rem;
    border: none;
    border: 1px solid rgba(0, 0, 0, 1);
    border-radius: .40rem;
    height: 3rem;
    width: 16rem;
    font-size: 1.8rem;
    text-align: center;

    outline: none;
}

.confirm-delete-test input[type="button"] {
    border: none;
    margin-top: 1rem;
    background-color: #35CB91;
    border-radius: .20rem;
    height: 3.5rem;
    width: 13rem;
    color: #fff;
    font-size: 2rem;
    
    outline: none;
}

.confirm-delete-test input[type="button"]:hover {
    background-color: #11b979;
}