<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Coronac | Teste de covid-19</title>

    <link rel="icon" href="/images/connected-world.png" />

    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/animation.css" />
    <link rel="stylesheet" href="/css/header-footer-menu.css" />
    <link rel="stylesheet" href="/css/page-feed.css" />

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Righteous&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body id="page-feed">
    <div id="container">
      <header class="header">
        <h1 class="logo">Coronac</h1>

        <input
          type="checkbox"
          id="menu-hamburguer"
          style="display: none"
          onclick="menuHamburguer()"
        />
        <label class="menu-hamburguer" for="menu-hamburguer" id="menu">
          <div id="bar1" class="bar"></div>
          <div id="bar2" class="bar"></div>
          <div id="bar3" class="bar"></div>
        </label>

        <nav class="nav-bar">
          <a href="/cases-covid">Casos</a>
              <a href="/test-covid">Fazer teste </a>
              <a href="/feed">Teste de outras pessoas</a>
              <a href="/take-care">Como se cuidar durante a pandemia</a>
              <img  src=".//images/bar.svg" alt="">
              <a target="_blank" href="https://github.com/julioceno/coronac">Repositório</a>
        </nav>
      </header>

      <aside class="menu-bar animate-up" id="menu-bar">
        <nav class="nav" id="nav">
           <ul>
               <li> <a href="/cases-covid">Casos</a></li>
               <li> <a href="/test-covid">Fazer teste</a></li>
               <li><a href="/feed">Teste de outras pessoas</a></li>
               <li><a href="/take-care">Como se cuidar durante a pandemia</a></li>
               <li><a target="_blank" href="https://github.com/julioceno/coronac">Repositório</a></li>
           </ul>
       </nav>
      </aside>

      <section class="section" id="section">
        <main class="centering">

        <div class="diagnostics">
          
            <div class="diagnostic">
          
          
              <div class="data">
              <img src=".//images/woman.svg" alt="" />

              <div class="informations">
                <p class="name">Carla</p>
                <p class="sex">Sexo: Feminino</p>
                <p class="year-old">Idade: 15</p>
                <p class="about">Sobre: Meu nome é Carla, tenho 15 anos e acho que estou com covid-19. bla bka ta ligado como  Sobre: Meu nome é Carla, tenho 15 anos e acho que estou com covid-19. bla bka ta ligado como  </p>
              </div>
            </div>

            <div class="right">
                
              <div class="id">#1</div>

              <div class="sympthons">
                <span>3 / 4</span>
              </div>

            </div>

          </div>
<!-- 
          <div class="diagnostic">
          
          
            <div class="data">
            <img src=".//images/man.svg" alt="" />

            <div class="informations">
              <p class="name">Jõao</p>
              <p class="sex">Sexo: Masculino</p>
              <p class="year-old">Idade: 15</p>
            </div>
          </div>

          <div class="right">
              
            <div class="id">#2</div>

            <div class="sympthons" style="background-color:  #FF748E;">
              <span>9 / 4</span>
            </div>

          </div>

        </div>


        <div class="diagnostic">
          
          
            <div class="data">
            <img src=".//images/man.svg" alt="" />

            <div class="informations">
              <p class="name">Marcos</p>
              <p class="sex">Sexo: Masculino</p>
              <p class="year-old">Idade: 45</p>
            </div>
          </div>

          <div class="right">
              
            <div class="id">#3</div>

            <div class="sympthons" style="background-color:  #fddb3a;">
              <span>6 / 4</span>
            </div>

          </div>

        </div> -->

        </div>

    </main>

      </section>

      <footer class="footer">
        <header class="header-footer">
          <h3 class="logo-footer">Coronac</h3>

          <p>Nós dá Coronac vamos sempre está aqui pra cuidar de você :)</p>
        </header>

        <nav class="contacts">
          <a href="https://github.com/julioceno/coronac"
            ><img src=".//images/whatsapp.svg" alt=""
          /></a>
          <a href="https://github.com/julioceno/coronac"
            ><img src=".//images/instagram.svg" alt=""
          /></a>
          <a href="https://github.com/julioceno/coronac"
            ><img src=".//images/twitter.svg" alt=""
          /></a>
          <a href="https://github.com/julioceno/coronac"
            ><img src=".//images/facebook.svg" alt=""
          /></a>
        </nav>
      </footer>
    </div>
  </body>
  <script src="/javascript/header.js"></script>
  <script src="/javascript/page-test-covid.js"></script>
</html>
