<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coronac</title>

    <link rel="icon" href="images/connected-world.png">

    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/animation.css">
    <link rel="stylesheet" href="css/page-landing.css">

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap" rel="stylesheet">


</head>
<body id="page-landing">
    <div id="container">
        <header class="header">
            <h1 class="logo animate-up">Coronac</h1>
            <small class="location animate-up">Brasil</small>
        </header>

        <section class="section">
            <h3 class="animate-up">Seja forte! Somos a resistência</h3>
            
            <div class="buttons animate-up">
                    <a class="button-cases" href="/cases-covid">Casos</a>

                    <a class="button-test" href="/test-covid">Fazer teste</a>
            </div>
        </section>


      
    </div>
</body>
</html>
