<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coronac | Como se cuidar durante a pandemia</title>

    <link rel="icon" href="/images/connected-world.png">

    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/animation.css">
    <link rel="stylesheet" href="/css/header-footer-menu.css">
    <link rel="stylesheet" href="/css/page-take-care.css">

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap" rel="stylesheet">

</head>

<body id="page-take-care">
    <div id="container">
        <header class="header">
            <h1 class="logo">Coronac</h1>

            <input type="checkbox" id="menu-hamburguer" style="display: none;" onclick="menuHamburguer()">
            <label class="menu-hamburguer" for="menu-hamburguer" id="menu">
                <div id="bar1" class="bar"></div>
                <div id="bar2" class="bar"></div>
                <div id="bar3" class="bar"></div>
            </label>

            <nav class="nav-bar">
                <a href="/cases-covid">Casos</a>
                <a href="/test-covid">Fazer teste </a>
                <a href="/feed">Teste de outras pessoas</a>
                <a href="/take-care">Como se cuidar durante a pandemia</a>
                <img  src=".//images/bar.svg" alt="">
                <a target="_blank" href="https://github.com/julioceno/coronac">Repositório</a>
            </nav>
        </header>

        <aside class="menu-bar animate-up" id="menu-bar">
            <nav class="nav" id="nav">
               <ul>
                   <li> <a href="/cases-covid">Casos</a></li>
                   <li> <a href="/test-covid">Fazer teste</a></li>
                   <li><a href="/feed">Teste de outras pessoas</a></li>
                   <li><a href="/take-care">Como se cuidar durante a pandemia</a></li>
                   <li><a target="_blank" href="https://github.com/julioceno/coronac">Repositório</a></li>
               </ul>
           </nav>
        </aside>
        
        <section class="section" id="section">
            
            <div class="tip-container">

                <div class="tip" id="tip1">
                    <img src=".//images/tips/mask.svg" alt="" class="margin-right">
                    
                    <p>Recomendamos que fique em casa! Mas se você tiver que sair use <small>máscara</small>  e respeite o distaciamento social.</p>
                </div>

                <div class="tip" id="tip2">
                    <p>Sabemos que nem sempre é fácil aceitar que podemos está infectados. Porém, se você começar a sentir os sintomas incentivamos a você ir ao <small>médico</small>  imediatamente!</p>
                    
                    <img src=".//images/tips/medical-appointment.svg" alt="" class="margin-left">
                </div>

                <div class="tip" id="tip3">
                    <img src=".//images/tips/wash-hands.svg" alt=""  class="margin-right">
                    <p>Não é fácil lembramos de simples hábitos, como lavar as mãos por exemplo. Mas simples hábitos como esse podem salvar as nossas <small> vidas </small> e as <small> vidas </small> de quem nós amamos.</p>
                </div>

                <div class="tip" id="tip4">
                    <p>Exercícios físicos são muito importantes para a saúde de nosso corpo, por isso recomendamos que você faça exercícios regularmente. e de preferência em <small>casa</small>.</p>
                    
                    <img src=".//images/tips/exercises.svg" alt="" class="margin-left">
                </div>

                <div class="tip" id="tip5">
                    <img src=".//images/tips/music.svg" alt="" class="margin-right">
                    
                    <p>Já ouviu falar que quem canta seus males espanta? A nossa equipe assina em baixo nessa afirmação. Portanto, tente escutar música sempre que possível e se preferir cante também.</p>
                </div>

                <div class="tip" id="tip6">
                    <p>Apesar de não podermos nos reunir como antes, podemos sempre <small>ligar</small> pra um amigo, parente ou até mesmo para nós! Sempre terá alguém da nossa equipe disposto a falar com você, <small> disque 200.</small></p>
                    
                    <img src=".//images/tips/call.svg" alt="" class="margin-left">
                </div>

                <div class="tip" id="tip7">
                    <img src=".//images/tips/sad.svg" alt=""  class="margin-right">
                    
                    <p>A rotina está cada vez mais estressante, e o trabalho parece que não vai ter fim, mas não se desanime! Sempre terá alguém que vai está torcendo por você, inclusive toda nossa equipe do <small>Coronac.</small></p>
                </div>

                <div class="tip" id="tip8">
                    <p>Logo logo alguém encontrará a cura pra essa doença. Então, se mantenha positivo e não perca as <small>esperanças!</small>  Estamos juntos nessa.  </p>
                    
                    <img src=".//images/tips/medicine.svg" alt="" class="margin-left">
                </div>
                
            </div>

       </section>


    
    <footer class="footer">
       <header class="header-footer">
            <h3 class="logo-footer">Coronac</h3>

            <p>Nós dá Coronac vamos sempre está aqui pra cuidar de você  :)</p>
       </header>

       <nav class="contacts">
           <a href="https://github.com/julioceno/coronac"><img src=".//images/whatsapp.svg" alt=""></a>
           <a href="https://github.com/julioceno/coronac"><img src=".//images/instagram.svg" alt=""></a>
           <a href="https://github.com/julioceno/coronac"><img src=".//images/twitter.svg" alt=""></a>
           <a href="https://github.com/julioceno/coronac"><img src=".//images/facebook.svg" alt=""></a>
       </nav>
    </footer>


</div>
</body>
<script src="/javascript/header.js"></script>
<script src="/javascript/page-cases.js"></script>
</html>