<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coronac | Teste de covid-19</title>

    <link rel="icon" href="/images/connected-world.png">

    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/animation.css">
    <link rel="stylesheet" href="/css/header-footer-menu.css">
    <link rel="stylesheet" href="/css/pop-ups.css">
    <link rel="stylesheet" href="/css/page-test-covid.css">

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap" rel="stylesheet">

</head>

<body id="page-test-covid">
    <div id="container">
        <header class="header" id="header">
            <h1 class="logo">Coronac</h1>

            <input type="checkbox" id="menu-hamburguer" style="display: none;" onclick="menuHamburguer()">
            <label class="menu-hamburguer" for="menu-hamburguer" id="menu">
                <div id="bar1" class="bar"></div>
                <div id="bar2" class="bar"></div>
                <div id="bar3" class="bar"></div>
            </label>

            <nav class="nav-bar">
                <a href="/cases-covid">Casos</a>
                <a href="/test-covid">Fazer teste </a>
                <a href="/feed">Teste de outras pessoas</a>
                <a href="/take-care">Como se cuidar durante a pandemia</a>
                <img  src=".//images/bar.svg" alt="">
                <a target="_blank" href="https://github.com/julioceno/coronac">Repositório</a>
            </nav>
        </header>
      
        <aside class="menu-bar animate-up" id="menu-bar">
            <nav class="nav" id="nav">
               <ul>
                   <li> <a href="/cases-covid">Casos</a></li>
                   <li> <a href="/test-covid">Fazer teste</a></li>
                   <li><a href="/feed">Teste de outras pessoas</a></li>
                   <li><a href="/take-care">Como se cuidar durante a pandemia</a></li>
                   <li><a target="_blank" href="https://github.com/julioceno/coronac">Repositório</a></li>
               </ul>
           </nav>
         </aside>

        <section class="section" id="section">

            <main>

            <form action="/save-test" method="POST" class="form animate-appear" onsubmit="validate(event)">
                <fieldset class="data">
                    <legend >Dados</legend>

                    <div class="grid">
                    <div class="input-block">
                        <label for="">Nome</label> 
                        <input type="text" name="name" >
                    </div>

                    <div class="input-block">
                        <label for="about" id="click-about">Sobre</label>
                        <textarea  id="about" name="about"  placeholder="Só marque este campo se você for deixar o seu test em nosso feed"></textarea>
                    </div>

                    <div class="input-block">
                        <label for="">Data de nascimento</label>
                        <input type="date" name="date" >
                    </div>
                    
                    <div class="input-block">
                        <label for="">Email</label>
                        <input type="email" name="email">
                    </div>
                    

                    <div class="input-block">
                        <label for="">Whatsapp</label>
                        <input type="number" name="whatsapp">
                    </div>

                    <div class="input-block">
                        <label class="label-checkbox" for="">Sexo</label>

                        <div class="checkbox-container">
                            <input type="radio" name="sex" id="sex1"  value="Masculino" >
                            <label for="sex1">Masculino</label>
                            <input type="radio" name="sex" id="sex2" value="Feminino" checked> 
                            <label for="sex2">Feminino</label>
                        </div>

                    </div>
                </div>
                </fieldset>

                <fieldset class="symptoms">
                    <legend>Sintomas</legend>

                    <div class="grid">
                    <div class="input-block">
                        <label class="label-checkbox" for="">Você teve dor de cabeça recentimente?</label>

                        <div class="checkbox-container">
                            <input type="radio" name="headache" id="headache1"  value="headache1" >
                            <label for="headache1">Sim</label>
                            <input type="radio" name="headache" id="headache2" value="no" checked>
                            <label for="headache2">Não</label>
                        </div>

                    </div>


                    <div class="input-block">
                        <label class="label-checkbox" for="">Você teve febre recentimente?</label>

                        <div class="checkbox-container">
                            <input type="radio" name="fever" id="fever1"  value="fever1" >
                            <label for="fever1">Sim
                            </label>
                            <input type="radio" name="fever" id="fever2" value="no" checked>
                            <label for="fever2">Não</label>
                        </div>

                    </div>

                    <div class="input-block">
                        <label class="label-checkbox" for="">Você teve diarreia recentimente?</label>

                        <div class="checkbox-container">
                            <input type="radio" name="diarrhea" id="diarrhea1"  value="diarrhea1" >
                            <label for="diarrhea1">Sim
                            </label>
                            <input type="radio" name="diarrhea" id="diarrhea2" value="no" checked>
                            <label for="diarrhea2">Não</label>
                        </div>

                    </div>

                    <div class="input-block">
                        <label class="label-checkbox" for="">Você teve tosse seca recentimente?</label>

                        <div class="checkbox-container">
                            <input type="radio" name="dryCough" id="dry-cough1"  value="dry-cough1" >
                            <label for="dry-cough1">Sim
                            </label>
                            <input type="radio" name="dryCough" id="dry-cough2" value="no" checked>
                            <label for="dry-cough2">Não</label>
                        </div>

                    </div>

                    <div class="input-block">
                        <label class="label-checkbox" for="">Você teve problemas respiratórios recentimente?</label>

                        <div class="checkbox-container">
                            <input type="radio" name="breath" id="breath1"  value="breath1" >
                            <label for="breath1">Sim
                            </label>
                            <input type="radio" name="breath" id="breath2" value="no" checked>
                            <label for="breath2">Não</label>
                        </div>

                    </div>

                    <div class="input-block">
                        <label class="label-checkbox" for="">Você teve perda de paladar ou ofato recentimente?</label>

                        <div class="checkbox-container">
                            <input type="radio" name="tasteAndSmell" id="taste-and-smell1"  value="taste-and-smell1" >
                            <label for="taste-and-smell1">Sim
                            </label>
                            <input type="radio" name="tasteAndSmell" id="taste-and-smell2" value="no" checked>
                            <label for="taste-and-smell2">Não</label>
                        </div>

                    </div>

                    <div class="input-block">
                        <label class="label-checkbox" for="">Você teve conjutivite recentimente?</label>

                        <div class="checkbox-container">
                            <input type="radio" name="conjunctivitis" id="conjunctivitis1"  value="conjunctivitis1" >
                            <label for="conjunctivitis1">Sim
                            </label>
                            <input type="radio" name="conjunctivitis" id="conjunctivitis2" value="no" checked>
                            <label for="conjunctivitis2">Não</label>
                        </div>

                    </div>

                    <div class="input-block">
                        <label class="label-checkbox" for="">Você teve dor de garganta recentimente?</label>

                        <div class="checkbox-container">
                            <input type="radio" name="soreThroat" id="sore-throat1"  value="sore-throat1" >
                            <label for="sore-throat1">Sim
                            </label>
                            <input type="radio" name="soreThroat" id="sore-throat2" value="no" checked>
                            <label for="sore-throat2">Não</label>
                        </div>

                    </div>

                    <div class="input-block">
                        <label class="label-checkbox" for="">Você teve dores ou desconforto recentimente?</label>

                        <div class="checkbox-container">
                            <input type="radio" name="painOrDiscomfort" id="pain-or-discomfort1"  value="pain-or-discomfort1" >
                            <label for="pain-or-discomfort1">Sim
                            </label>
                            <input type="radio" name="painOrDiscomfort" id="pain-or-discomfort2" value="no" checked>
                            <label for="pain-or-discomfort2">Não</label>
                        </div>

                    </div>

                    <div class="input-block">
                        <label class="label-checkbox" for="">Você  se sente cansado com facilidade?</label>

                        <div class="checkbox-container">
                            <input type="radio" name="tiredness" id="tiredness1"  value="tiredness1">
                            <label for="tiredness1">Sim
                            </label>
                            <input type="radio" name="tiredness" id="tiredness2" value="no" checked>
                            <label for="tiredness2">Não</label>
                        </div>

                    </div>
                    
                    </div>
                    

                </fieldset>

                <fieldset class="permission">
                    <legend>Permissão</legend>
                    
                    <div class="input-block">
                        <label class="label-checkbox" for="">Esse formulário pode ir para o feed?</label>

                        <div class="centering">

                        <div class="checkbox-container">
                            <input type="radio" name="feed" id="feed1"  value="yes" >
                            <label for="feed1">Sim</label>
                            <input type="radio" name="feed" id="feed2" value="no" checked>
                            <label for="feed2">Não</label>
                        </div>

                        <p>Saiba quais informações suas ficarão expostas <a onclick="informationDataFunction()()">*</a></p>
                    
                        </div>

                    </div>


                </fieldset>


                <input type="submit" value="Enviar" >
            </form> 

            </main>
        </section>

    <footer class="footer">
       <header class="header-footer">
            <h3 class="logo-footer">Coronac</h3>

            <p>Nós dá Coronac vamos sempre está aqui pra cuidar de você  :)</p>
       </header>

       <nav class="contacts">
           <a href="https://github.com/julioceno/coronac"><img src="./images/whatsapp.svg" alt=""></a>
           <a href="https://github.com/julioceno/coronac"><img src="./images/instagram.svg" alt=""></a>
           <a href="https://github.com/julioceno/coronac"><img src="./images/twitter.svg" alt=""></a>
           <a href="https://github.com/julioceno/coronac"><img src="./images/facebook.svg" alt=""></a>
       </nav>
    </footer>


    <div class="pop-ups">

        <div class="test-explanation animate-appear ">
            <p>Esse teste de covid 19 <span>Não é valido!</span> Recomendamos que se você tiver com algum dos sintomas vá até um médico ou especialista.</p>
        
            <input type="button" value="Ok" onclick="hidePopup()">
        </div>

        <div class="information-data animate-appear">
            <p> Recomendamos fortemente que você deixe seu teste exposto, pois isso vai mostrar para as pessoas que o coronavírus ainda não foi embora. Entretanto seu email e sua senha não ficarão expostas caso seu teste vá para o feed. </p>
        
            <input type="button" value="Ok" onclick="hidePopup()">
        </div>

        <div class="fill-in-about animate-appear">
            <p> Pra enviar o formulário para o feed você precisa prencher o campo <span>Sobre</span> </p>
        
            <input type="button" id="come-back-about" value="Ok" onclick="hidePopup()">
        </div>
   </div>
</div>

</body>
<script src="/javascript/header.js"></script>
<script src="/javascript/page-test-covid.js"></script>
</html>